In [33]:
import pandas as pd
import psycopg2
from yaml import safe_load
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:password@localhost:5432/postgres')
class DatabaseConnector:
    
    def read_db_creds(self):
        with open('my_yaml.yaml', 'r') as f:
            #df = pd.json_normalize(safe_load(f))
            df = safe_load(f)
        return df
    
    def init_db_engine(self):
        df = self.read_db_creds()
        self.db_engine = psycopg2.connect(host = df["RDS_HOST"],user = df["RDS_USER"],password = df["RDS_PASSWORD"],database = df["RDS_DATABASE"],port = df["RDS_PORT"])
        return self.db_engine
    
    def list_db_tables(self):
        self.db_engine = self.init_db_engine()
        self.cur = self.db_engine.cursor()
        self.cur.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public' ")
        list_of_tables = self.cur.fetchall()
        
        #print(list_of_tables)
        return list_of_tables
    
    def upload_to_db(self,df,table_name):
        print(table_name)
        df.to_sql(table_name,engine,schema='public',if_exists='append')


dbconnector = DatabaseConnector()
dbconnector.list_db_tables()
#dbconnector.upload_to_db(dataframe,"legancy_user")

[('legacy_store_details',),
 ('legacy_users',),
 ('orders_table',),
 ('dim_user',)]

In [38]:
import pandas as pd
import psycopg2
from yaml import safe_load
import db_connect as dbc

class DataExtractor:
    def read_rds_table(self, db_connector,table_name):
        list_of_tables = db_connector.list_db_tables()
        print(list_of_tables)
        df = pd.read_sql_query("select * from legacy_users", db_connector.init_db_engine())
        df = pd.DataFrame(df)
        
        #print(df)
        return df


dbconnector = dbc.DatabaseConnector()
db_extractor = DataExtractor()
db_extractor.read_rds_table(dbconnector,"legacy_user")

[('legacy_store_details',), ('legacy_users',), ('orders_table',), ('dim_user',)]

/var/folders/l9/fpycfm1d5z18rqn65p1nd4qw0000gn/T/ipykernel_18045/2614943517.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("select * from legacy_users", db_connector.init_db_engine())

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH,United Kingdom,GB,(0161) 496 0674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive\nJoanborough\nSK0 6LR,United Kingdom,GB,+44(0)121 4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b
3,3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow\nNew Tracy\nW22 2QG,United Kingdom,GB,(0306) 999 0871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579
...,...,...,...,...,...,...,...,...,...,...,...,...
15315,14913,Stephen,Jenkins,1943-08-09,"Thornton, Carroll and Newman",s.jenkins@smith.com,Studio 41I\nJones lodge\nOliviaborough\nE8 3DU,United Kingdom,GB,+44(0)292018946,2016-04-15,2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316,14994,Stephen,Smith,1948-08-20,Robinson-Harris,s.smith@smith.com,530 Young parkway\nMillsfurt\nL4G 7NX,United Kingdom,GB,+44(0)1144960977,2020-07-20,d234c04b-c07c-46a5-a902-526f91478ecc
15317,15012,Stephen,Losekann,1940-10-09,Rosenow,s.losekann@smith.com,Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda,Germany,DE,02984 08192,2021-03-07,1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318,15269,Stephen,Rivera,1952-06-04,"Taylor, Fry and Jones",s.rivera@smith.com,"660 Ross Falls Suite 357\nAnthonymouth, MA 09610",United States,US,239.711.3836,2011-01-03,187fe06e-bd5f-4381-af2f-d7ac37ca7572
15319,1249,Stephen,Duncan,1994-03-27,"Phillips, Brown and Powell",s.duncan@smith.com,Studio 4\nHancock road\nPhillipsview\nST1X 3XB,United Kingdom,GB,+44(0)1314960870,2015-08-28,0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

In [35]:
import pandas as pd
import psycopg2
import db_connect as dbc
import data_extraction as dbe

class DataCleaning:
    def clean_user_data(self):
        
        self.df = db_extractor.read_rds_table(db_connector,"legacy_user")
        
        # check any null value
        print("Any Null values:", self.df.isnull().values.any())
        # drop null 
        self.df.dropna()
        # null count in whole table
        na_count = self.df.isna().sum().sum()
        print("Null Values:", na_count)
        # any duplicates in table. count rows
        self.df = self.df.drop_duplicates()
        duplicate_row_count = self.df.shape[0]
        print("duplicate row ", duplicate_row_count)       

        self.df.drop(self.df.loc[self.df['first_name'].str.contains(r'[0-9]') == True].index,axis = 0,inplace = True)
        self.df.drop(self.df.loc[self.df['last_name'].str.contains(r'[0-9]') == True].index,axis = 0,inplace = True)
        self.df.drop(self.df.loc[self.df['date_of_birth'].str.contains('NULL',case = False)].index, axis = 0,inplace=True)
        self.df.drop(self.df.loc[self.df['date_of_birth'].str.contains('%a%',case = False)].index,axis = 0,inplace = True)
        self.df.drop(self.df.loc[self.df['date_of_birth'].str.contains('-') == False].index,axis = 0,inplace = True)

        self.df.drop(self.df.loc[self.df['join_date'].str.contains('-') == False].index,axis = 0,inplace = True)
        self.df.drop(self.df.loc[self.df['email_address'].str.contains('@') == False].index,axis = 0,inplace = True)
        
        self.df.drop(self.df.loc[self.df['country'].str.contains(r'[0-9]') == True].index,axis = 0,inplace = True)
        self.df.drop(self.df.loc[self.df['country_code'].str.len() != 2].index,axis = 0,inplace = True)
       
        self.df.drop(self.df.loc[self.df['phone_number'].str.contains(r'[a-z]') == True].index,axis = 0,inplace = True)
        
        self.df['date_of_birth'] = self.df['date_of_birth'].astype('datetime64[ns]')
        self.df['date_of_birth'] = pd.to_datetime(self.df["date_of_birth"]).dt.normalize()
        
        self.df['join_date'] = self.df['join_date'].astype('datetime64[ns]')
        self.df['join_date'] = pd.to_datetime(self.df["join_date"]).dt.normalize()

db_connector = dbc.DatabaseConnector()
db_extractor = dbe.DataExtractor()
data_cleaning = DataCleaning()
data_cleaning.clean_user_data()
db_connector.upload_to_db(data_cleaning.df,'dim_user')

[('legacy_store_details',), ('legacy_users',), ('orders_table',), ('dim_user',)]
Any Null values: False
Null Values: 0
duplicate row  15320

/Users/nitin.karmuse/aicore/multinational-retail-data-centralisation/data_extraction.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("select * from legacy_users", db_connector.init_db_engine())

dim_user

In [39]:
print(df)

None